
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cadastro{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.area1{
    width: 70%;
    height: 100%;
    padding: 90px;
    margin: 20px;               
}

.area1 h2{
    color: #FFBF1B;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.area1 a{
    text-decoration: none;
}
.link a{
    color: #FFBF1B;
}

.text-p{
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
}

.text-p .link a{
    margin-left: 10px;
}


.area2{
    display: flex;
    justify-content: end;
}

.area2 img{
    position: relative;
    margin-right: 50%;
    width: 400px;
    margin-top: 120px;

}
.bg-dec{
    position: fixed;
    z-index: -1;
    width: 40%;
    height: 37rem;
    border-radius: 20px;
    background-color: #FFBF1B;
}

.senha__{
    margin-top: 20px;
    display: flex;
}

.senha__ .link a{
    margin-left: 10px;
}

.senha__ .checkbox{
    padding-left: 10px;
}

.area1 .btn button{
    margin-top: 3rem;
    border: none;
    background-color: #FFBF1B;
    color: #fff;
    font-weight: 500;
}

.btn{
    text-decoration: none;
    padding: 15px 120px;
    border: none;
    background-color: #FFBF1B;
    color: #fff;
}