
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cadastro{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;

}

.area1{
    margin-right: 20vh;
    padding-top: 16vh;
}


.area1 h2{
    color: #FFBF1B;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.area1 a{
    text-decoration: none;
}
.link a{
    color: #FFBF1B;
    font-weight: 300;
}

.senha__{
    display: flex;
    padding: 20px 0px 20px 0px;

}
.senha__ a{
    margin-left: 20px;   
}

.text-p{
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
}

.email{
    padding: 12px 10rem;
    background:url(../img/mdi_email-outline.svg);
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position: 15px 13px;
    padding-left: 3.3em;
    margin-bottom: 10px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    color:  #999999;
}

.senha{
    padding: 12px 10rem;
    background:url(../img/mdi_password-outline.svg);
    margin-bottom: 10px;
    background-color: #F4F4F4;
    border: none;
    background-position: 15px 13px;
    background-size: 1.3em;
    padding-left: 3.3em;
    border-radius: 5px;
    color:  #999999;
    background-repeat: no-repeat;
}

.area1 .btn button{
    margin: 30px;
    border: none;
    background-color: #FFBF1B;
    color: #fff;
    font-weight: 500;
}

.btn{
    text-decoration: none;
    padding: 15px 120px;
    border: none;
    background-color: #FFBF1B;
    color: #fff;
}

.bg-dec{
    position: fixed;
    z-index: -1;
    width:  40%;
    height: 95vh;
    border-radius: 0px 20px 20px 0px;
    background-color: #FFBF1B;
}

.area2 img{
    width: 70%;
    height: fit-content;
    margin-left: 15vh;
    padding-top: 20vh;
}

.checkbox{
     margin-left: 5px;
}

.create-account{
    display: flex;
}

.create-account p{
    margin-left: 15px;
    
}