.Process{
    padding: 4rem;
    background-color: #FFBF1B;
}

.content h3{
    color: #fff;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 500;
}

.icons{
    align-items: center;
    display: flex;
    justify-content: center;
}

.p-ic{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.seta{
    width: 50px;
    height: auto;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
}