.body{
    overflow-x: hidden;
}


.tool-choose{
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.escritas{
    padding-left: 50px;
}
.escritas h2{
    color: #FFBF1B;
}

.card-group{
    padding: 5rem;
    justify-content: center;
}

.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.card-1, .card-2, .card-3, .card-4{
    width: 100%;
    background-color: #F5F4F4;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.card-1, .card-2, .card-3, .card-4 h3{
    font-size: 1.75rem;
    font-weight: 600;

}
.card-1, .card-2, .card-3, .card-4 p{
    font-size: 14px;
    font-weight: 300;
}

