<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatBioSearch</title>
    <link rel="stylesheet" href="./static/cta.css">
    <link rel="stylesheet" href="./static/footer.css">
    <link rel="stylesheet" href="./static/main.css">
    <link rel="stylesheet" href="./static/process.css">
    <link rel="stylesheet" href="./static/quemsomos.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/tool.css">
</head>
<body>

    <!----Menu de Navegação----->

    <header class="cabecalho">

            <div class="logo">
                <a href=""><img src="./images/logo_branca(1) 2.svg" alt=""></a>
            </div>

            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="/cadastro">Cadastro</a></li>
                        <li><a href="">Contato</a></li>
                        <li><a href="">Sobre nós</a></li>
                        <button><a href="/login">Login</a></button>
                    </ul>
                </nav>
            </div>
    </header>
    
    <!----Sesão Principal---->
    <section class="main">
        <div class="text-copy">
            <h2>Seus diagnósticos<br> mais precisos!</h2>
            <p>Tenha acesso a relatórios, dashboards<br> interativos, interface amigável, para auxiliar sua<br> tomada de decisão!</p>
            
            <div class="cta-button">
                <button class="btn-preto-sb"><a href="/cadastro">Comece já</a></button>
                
                <button class="btn-branco-cb"><a href="">Veja como funciona</a></button>
            </div>
        </div>

        <div class="imagem-static">
            <img src="./images/figura.svg" alt="">
        </div>


    </section>

    <!----Sessão da Ferramenta--->
    <section class="tool-choose">


        <div class="quadrado-dec" alt="">
            <img src="./images/decoracao.svg" alt="">
        </div>

        <div class="escritas">
            <h2>Porque escolher a CatBioSearch?</h2>
            <p>Melhor software para análise</p>
        </div>
            <div class="card-section">
                <div class="card-1">
                    <h3>Precisão e Confiabilidade</h3>
                    <p>Nosso software utiliza algoritmos avançados e técnicas de análise de última geração para garantir resultados precisos e confiáveis. Podemos nos orgulhar de nossa reputação de fornecer dados de alta qualidade que os pesquisadores e profissionais de saúde podem confiar para tomar decisões fundamentadas.</p>
                </div>
                <div class="card-2">
                    <h3>Facilidade de Uso e Intuitividade</h3>
                    <p>Desenvolvemos nossa ferramenta com a experiência do usuário em mente. Com uma interface intuitiva e amigável, mesmo os usuários novatos podem navegar facilmente pela plataforma e realizar análises complexas sem a necessidade de treinamento extensivo.</p>
                </div>

            <div class="card-section-2">
                <div class="card-3">
                    <h3>Ampla Gama de Recursos e Funcionalidades</h3>
                    <p>De anotação genômica a predição de estruturas de proteínas, nossa ferramenta oferece uma ampla variedade de recursos e funcionalidades para atender às diversas necessidades de pesquisa e prática clínica.</p>
                </div>
                <div class="card-4">
                    <h3>Suporte e Atendimento ao Cliente Excepcionais</h3>
                    <p>Nosso compromisso com a satisfação do cliente vai além da entrega da ferramenta. Nossa equipe de suporte está disponível para ajudar com dúvidas, fornecer orientação técnica e garantir uma experiência perfeita para nossos usuários. Sua satisfação é nossa prioridade.</p>
                </div>
            </div>
                
        </div>
        
    </section>

    <!-----Sessão CTA------>
    <section class="cta">
        
        <div class="cta-section">
            <div class="img-cta">
                <img src="./images/software tester-rafiki 1.svg" alt="">
            </div>
    
            <div class="text-cta">
                
                <h3>Poder da análise genômica<br> com nossa ferramenta</h3>
    
                <div class="text-p">
    
                    <img src="./images/seta-ok.svg" alt="">
                    <p>Identificação de Variantes Genéticas: 
                        Detecte mutações, polimorfismos e outras variações genéticas com rapidez e precisão.</p>
                    
                </div>
                <div class="text-p">
                    
                    <img src="./images/seta-ok.svg" alt="">
                    <p>Anotação Genômica Automática: Simplifique a interpretação dos dados com anotações automáticas de genes, regiões codificadoras e elementos regulatórios.
                    </p>
                    
                </div>
                <div class="text-p">
    
                    <img src="./images/seta-ok.svg" alt="">
                    <p>Visualização Interativa: Explore seus dados de sequenciamento de forma visualmente cativante e compreensível, facilitando a análise e a apresentação dos resultados.</p>
                    
                </div>
    
                <button class="btn-preto-sb"><a href="">Acessar Ferramenta</a></button>
            </div>

        </div>
        
    </section>

    <!----Sessão de Processo do Software------>
    <section class="Process">
        <div class="content">

                <h3>Processo do Software</h3>


            <div class="icons">
                <div class="livro">
                    <img src="./images/livro.svg" alt="">
                    <p class="p-ic">Leitura do arquivo</p>
                </div>
                <img class="seta" src="./images/Arrow 2.svg" alt="">

                <div class="lupa">
                    <img src="./images/Lupa.svg" alt="">
                    <p class="p-ic">Análise do <br>Sequenciamento</p>
                    
                </div>
                <img class="seta" src="./images/Arrow 2.svg" alt="">
                <div class="grafico">
                    <img src="./images/Grafico.svg" alt="">
                    <p class="p-ic">Relatório da análise</p>    
                </div>
                <img class="seta" src="./images/Arrow 2.svg" alt="">
                <div class="share">
                    <img src="./images/share.svg" alt="">
                    <p class="p-ic">Compartilhamento para <br> equipe</p>
                </div>

            </div>
        </div>


    </section>


    <!---Sessão Quem somos nós---->
    <section class="quemsomos"> 
        <h3>Quem somos</h3>

        <div class="luiz">
            
            <img src="./images/image00002.jpeg" alt="">

            <div class="text-resume">
                <p class="title-p">Luiz Guilherme</p>
                <p>Lorem ipsum dolor sit amet consectetur. Scelerisque quam quam in interdum in egestas. Integer quam scelerisque </p>
            </div>
        </div>

        <div class="henry">

            <div class="text-resume">
                <p class="title-p">Henry Magalhães</p>

                <p>Sou do interior de São Paulo, UX/UI da CatBioSearch tenho 19 anos, e busco trazer a melhor experiência de uso para a aplicação.</p>
            </div>
            

            <img src="./images/image00001.jpeg" alt="">

            
        </div>

        <div class="matheus">
            <img src="./images/image00003.jpeg" alt="">
            <div class="text-resume">
                <p class="title-p">Matheus Moura</p>

                <p>
                    Sou do interior de São Paulo, Software Developer da CatBioSearch tenho 19 anos, e a minha linguagem favorita é o Python!
                </p>
            </div>
        </div>

    </section>

    <section class="footer">
        <div class="items">
            <!---logo--->
            <img class="logo" src="./images/logo_branca(1) 1.png" alt="">
            
            <!---Menu--->
          

                <p>Seu software para análise</p>
                <nav class="ft">
                    <ul>
                        <li><a href="">Cadastro</a></li>
                        <li><a href="">Contato</a></li>
                        <li><a href="">Sobre nós</a></li>
                    </ul>
                </nav>
           
            
        </div>

        <!---Redes sociais--->
        <div class="social-media">
            <div class="fb">
                <a class="face" href=""><img src="./images/Vector.svg" alt=""></a>
            </div>
            <div class="fb">
                <a class="ttw" href=""><img src="./images/Vector (1).svg" alt=""></a>
            </div>
            <div class="fb">
                <a class="inst" href=""><img src="./images/Group.svg" alt=""></a>
            </div>
        </div>

        <div class="line">
        </div>
        <div class="information">
            <p>2024 © Copyright | All Rights Reserved </p>

            <p> Politíca de Privacidade | Termos e Condições</p>
        </div>


    </section>

</body>
</html>