<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | CatBio Search</title>
    <link rel="stylesheet" href="./css/background.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    
    <section class="cadastro">

        <div class="area2">
            <img src="./img/blood research-pana 1.svg" alt="">

        </div>

        <div class="bg-dec">
        
        </div>

        <div class="area1">
            <h2>Entrar na minha conta</h2>
            
            <div class="text-p">
                <p>Bem vindo de volta!<br>
            </div>

            <div class="social-side">
                <div class="google">

                </div>
                <div class="facebook">

                </div>
            </div>


            <div class="label">
                <form action="/authenticate" method="POST">
                    <label>
                        <div class="email1">
                            <input class="email" type="email" placeholder="Email" name="email">
                        </div>
                        <div class="senha1">
                            <input type="password" class="senha" name="password" placeholder="Digite sua senha" required>
                        </div><br>
                    </label>
                    <button class="btn" type="submit">Enviar</button>
                
                    <div class="senha__">
                        <input type="checkbox"><p class="checkbox">lembrar senha</p>
                        <p class="link"><a href="">Esqueci a senha</a></p>
                    </div>
        
                    <div class="create-account">
                        <p>Não tem uma conta?</p> <p class="link"><a href="/cadastro">Criar conta</a></p>
                    </div>
                </form>
            </div>

            
        </div>


    
        
    </section>

</body>
</html>